* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

.container {
    margin: 0 auto;
    text-align: center;
    background-color: #333;
    width: 430px;
    border-radius: 20px 20px;

}

.output {
    color: white;
    font-size: 20px;
    padding: 5px;

}

.title {
    margin-top: 10px;
}

input {
    width: 413px;
    height: 60px;
    background-color: #40596c;
    color: white;
    border-style: none;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 25px;
}

input:hover {
    outline: none;

}

.calc {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(7, 100px);
    gap: 5px;
    height: auto;
    padding: 3px;
}


button {
    border-style: none;
    font-size: 20px;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(196, 196, 196);
}

#Enter {
    grid-column: 1 / span 4;
    grid-row-start: 7;
    grid-row-end: 8;
    height: 70px;
}

