* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    margin: 0 auto;
    text-align: center;
    background-color: #333;
    width: 430px;
    border-radius: 20px 20px 0 0;
}

.calc {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    height: auto;
    padding: 5px;
}

.output {
    color: white;
    font-size: 20px;

}

input {
    width: 413px;
    height: 50px;
    background-color: rgb(42, 101, 128);
    color: white;
    border-style: none;
}

button {
    border-style: none;
    font-size: 20px;
}

input:hover{
    outline: none;
}
.title{
    padding: 10px;
}